/ClienteInterface.class
/ConfezionamentoInterface.class
/ControlloreInterfaccia.class
/FarinaceiInterface.class
/FruttaInterface.class
/LatticiniInterface.class
/MagazzinoInterfaccia.class
/ProdottoInterface.class
/UovaInterface.class
/VerduraInterface.class
